body {
font-family: Arial, sans-serif;
background-color: #F0F0F0;
padding: 20px;
  }

.sport-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

.sport-title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
  }

.sport-image {
width: 70%;
max-width: 75%;
margin-bottom: 10px;
}

.sport-description {
font-size: 16px;
color: #666666;
line-height: 1.5;
}
  
.banner {
width: 100%;
background-image: url(images/sports.jpeg);
text-align: center;
padding: 140px;
font-family: 'Times New Roman', Times, serif;
}

.conntainer {
    width: 900px;
    margin: 0 auto;
}

h1 {
text-align: center;
font-size: 36px;
color: #000000;
margin-bottom: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.color-text {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

.color-title {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255)
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.card {
    display: grid;
    background-color: rgb(0, 168, 253);
    border-radius: 5px;
}

.text-bold {
    font-weight: bold;
}

body {
    background-color: rgb(255, 255, 255);
}

.playlist {


}